doctype html
html 
    head 
        title Mon Blogue
        
    body 
        h1 Mon Blog 
                br
                br
                br
                include post.pug

         
            
