
html 
    head 
        title Mon Blogue
        link(rel="stylesheet", href="/css/stylePostDetail.css")
    body
        div 
                img(src='/image/'+post.image)
                h3 #{post.title}
                p #{post.comment}